body{
    background-color: rgb(45, 40, 40);
    margin: 30px;
}

h1{
font-size: 3rem;
font-weight: 700;
text-align: center;
color: aliceblue;
}

.lead{
    color: aliceblue;
}

#uploadButton{
    display: none;
}